doctype html
html
	head
	title All
	body
		a(href='/blog') Your Blog
		br
		a(href='/logout') Log Out
		form(action='/', method='get', autocomplete='off')
			p Create your post:
			label <b>Message:</b>
			br
			textarea(type='text', name='message', style='width: 350px;height: 150px')
			br
			button(type='submit', value='Submit Message') Submit Message
