doctype html
html
	head
	title Blog
	body
		a(href='/') Home
		br
		a(class='button' href='/profile') Profile
		br
		a(href='/logout') Log out
		h3 All Blogs
		each post in posts.reverse()
			p Title: #{post.title}
			p <i>Written by: #{post.user.username}</i>
			p #{post.createdAt}
			form(action='/blog', method='post', autocomplete='off')
			textarea(type='text', name='body', style='width: 350px;height: 50px', placeholder='Comment')
			button(type='submit', value='Comment') Comment








