doctype html
html
	head
	title Blog
	body
		a(href='/') Home
		br
		a(class='button' href='/profile') Profile
		br
		a(href='/logout') Log out

		form(action='/blog', method='post', autocomplete='off')
			p(style= 'color: red') #{message}
			p Create your post:
			label <b>Message:</b>
			br
			textarea(type='text', name='body', style='width: 350px;height: 150px')
			br
			button(type='submit', value='Submit Message') Submit Message
			br
			br
			br
		h3 Message Board
		each post in posts.reverse()
			p #{post.body}
			p <i>Message from: #{post.user.username}</i>
			p #{post.createdAt}
			form(action='/blog', method='post', autocomplete='off')
			textarea(type='text', name='body', style='width: 350px;height: 50px', value='Comment')
			button(type='submit', value='Comment') Comment








