doctype html
html
	head
		style
			include ../public/css/stylesheet.css
			include ../public/js/javascript.js
		title Bloggie
	body
		a(href='/') Home
		br
		a(class='button' href='/blog') Bloggie
		br
		a(class='button' href='/profile') Profile
		br
		a(href='/logout') Log out
		br
		br
		span
			img(class='logo' src='../img/font.png')
			h1 Welcome to Bloggie

		span(class='element')
		p Lorizzle ipsizzle sheezy cool amizzle, dawg adipiscing elit. Nullam sure velizzle, sure volutpizzle, suscipizzle phat, brizzle vizzle, arcu. Pellentesque i'm in the shizzle phat. Brizzle erizzle. Break yo neck, yall izzle dolor go to hizzle turpizzle tempus dope. Maurizzle fizzle fo shizzle izzle turpizzle. izzle tortizzle. Pellentesque cool rhoncizzle bling bling. In hac boofron platea dictumst. Crackalackin dapibizzle. Shizznit tellizzle urna, pretizzle eu, shiz ac, fo shizzle my nizzle bow wow wow, nunc. We gonna chung suscipizzle. Integer sempizzle bling bling crazy purus.

		h3 <b>Share you passions with the world. Start blogging now!</b>

		form(class='sign' action='/', method='post', autocomplete='off')
			fieldset
				legend <u><b>New</u></b> to Bloggie? Register first and start blogging!  
				p(style= 'color: red') #{message}		
				input(type='text', name='first', placeholder='First Name')
				br
				input(type='text', name='last', placeholder='Last Name')
				br
				input(type='text', name='email', placeholder='Email')
				br
				input(type='text', name='nUser', placeholder='Choose your Username')
				br
				input(type='password', name='nPass', placeholder='Choose your Password')
				br
				br
				input(type='submit', value='Register')

		p already a bloggie? Log in <a href='/login'>here

		script(type='text/javacript' src='../public/js/javascript.js')

