doctype html
html
	head
		title Welcome
	body
	form.register(method='post')
		h3 Login or Register:
		br
		p Username: 
		input(type='text', name='user')
		br
		p Password 
		input(type='password', name='pass')
		br
		br
		input(type='submit', value='Register / Login')
