doctype html
html
	head
		title Bloggie
	body
		h1 Bloggie
		a(class='button' href='/') Home
		br
		a(class='button' href='/profile') Profile
		br
		br
		form(class='logg' action='/login', method='post', autocomplete='off')
			fieldset
				legend Login to see all blog messages and start blogging.
				p(style= 'color: red') #{message}
				p Username:
				input(type='text', name='user') 
				p Password:
				input(type='password', name='pass')
				br
				br
				input(type='submit', value='Login')
		
		p New to bloggie? Register <a href='/'>first!
		<a href='/'>Home

