doctype html
html
	head
		title Bloggie
	body
		h1 Bloggie
		form(class='logg' action='/login', method='post', autocomplete='off')
			fieldset
				legend Login to see all blog messages and start blogging
				p(style= 'color: red') #{message}
				input(type='text', name='user', value='sl', placeholder='Username')
				br 
				input(type='password', name='pass', value='sl', placeholder='Password')
				br
				br
				input(type='submit', value='Login')
		
		p New to bloggie? Register <a href='/'>first!


