doctype html
html
	head
		title Bloggie
	body
		a(href='/') Home
		br
		a(href='/blog') Bloggie
		br
		a(class='button' href='/profile') Profile
		br
		a(href='/logout') Log out
		h1 Overview of your blogs
		br
		each post in posts
			p Title: <b>#{post.title}</b>
			p Blog: 
			p #{post.body}
		hr(size='2')


