doctype html
html
	head
		title Bloggie
	body
		a(href='/') Home
		br
		a(href='/blog') Bloggie
		br
		a(class='button' href='/profile') Profile
		br
		a(href='/logout') Log out
		h1 Overview of your blogs
		each post in posts
			p Title: <b>#{post.title}</b>
			p Blog: 
			p #{post.body}
			hr(size='1', width='20%', align='left')
			each comment in post.comments
				p <i>#{comment.user} says</i> #{comment.comment}
			
