doctype html
html
	head
		title Bloggie
	body
		a(href='/') Home
		br
		a(href='/blog') Bloggie
		br
		a(class='button' href='/profile') Profile
		br
		a(href='/logout') Log out
		h1 Overview your blogs
		br
		each post in posts.reverse()
			p Title: <b>#{post.title}</b>
			p Blog: 
			p #{post.body}
			p <i>Written by: #{post.user.username}</i>
			p #{post.createdAt}
			hr(size='2')



			



