doctype html
html
	head
	title Blog
	body
		a(href='/') Home
		br
		a(class='button' href='/blog') Bloggie
		br
		a(class='button' href='/profile') Profile
		br
		a(href='/logout') Log out
		h3 Title
		h5 by Username
		p body

		p <b>Comments:</b>
		p each loop for all comments, including username, comment in reverse

		form(action='/page', method='post', autocomplete='off')
		textarea(type='text', name='comment', style='width: 350px;height: 50px', placeholder='Comment')
		br
		button(type='submit', value='Comment') Comment











