doctype html
html
	head
		title Bloggie
	body
		a(href='/') Home
		br
		a(href='/blog') Bloggie
		br
		a(href='/logout') Log out
		h1 Welcome to your profile <u>#{username}</u>!
		p Start blogging



