doctype html
html
	head
		title Bloggie
	body
		h1 Welcome to Bloggie
		a(href='/')Home

		form(class='sign' action='/sign', method='post', autocomplete='off')
			fieldset
				legend <u><b>New</u></b> to Bloggie? Register first and start blogging!  
				p First Name:
				input(type='text', name='First')
				p Last Name:
				input(type='text', name='last')
				p Email:
				p Choose Username:
				input(type='text', name='nUser')
				p Choose Password:
				input(type='password', name='nPass')
				br
				br
				input(type='submit', value='Sign Up')

		p already a bloggie? Log in <a href='/login'>here
