
h1 {
	text-align: center;
	font-family: 'Codystar', cursive;
	margin-top: 20px;
}

li {
	text-align: center;
	font-family: 'Codystar', cursive;
	font-weight: bold;
}

p {
	text-align: center;
	font-family: Montserrat, sans-serif
}

.message {
	color: red;
	text-align: left
}

::selection {
  color: red;
}

.container {
	text-align: center;
}


.photo {
	width: 70%;
	margin-top: 60px;
}