
h1 {
	text-align: center;
	font-family: 'Codystar', cursive;
	margin-top: 30px;
	margin-bottom: 30px;
}

li {
	text-align: center;
	font-family: 'Codystar', cursive;
	font-weight: bold;
}

p {
	text-align: left;
	font-family: 'Montserrat', sans-serif
}

::selection {
  color: red;
}

